<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD SQL Map Config 3.0//EN"  
	"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="logImpl" value="LOG4J" />
		<!-- 解决MyBatis 当数据库为记录为空,不显示此列 -->
		<setting name="callSettersOnNulls" value="true" />
	</settings>

	<mappers>
		<mapper resource="mybatis/orm/userInfoMapper.xml" />
		<mapper resource="mybatis/orm/mysqlFunMapper.xml" />
	</mappers>
</configuration>